*{
    margin: 0px;
    padding: 0px;
}

body{
    text-align: center;
}

table{
    margin: 1px auto;
    border: 1px solid black;
}

h1{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

tr,td,th{
    border: 1px solid black;
}